# Kubernetes tool versions (docker images)
KUBECTL_VERSION=1.34.1
HELM_VERSION=3.17.0

# ArgoCD
ARGOCD_HELM_CHART_VERSION=9.1.0
ARGOCD_TIMEOUT=10m
ARGOCD_NS=argocd

# Vault
VAULT_NS=vault
VAULT_BOOTSTRAP_CONFIGMAP=vault-bootstrap

# Longhorn
LONGHORN_NS=longhorn-system

# Vault address (used by argocd_prepare and sops_to_vault)
VAULT_ADDR=http://172.25.1.4:8200

# SOPS / Age keys (required for argocd_prepare)
SOPS_AGE_KEY_FILE=~/.config/sops/age/keys.txt
SOPS_PUBLIC_KEY=age1...
SOPS_AGE_SECRET_KEY=AGE-SECRET-KEY-...
